@{
    ViewData["Title"] = "Add New Tasks";
}
@model Task;

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Task<title>
</head>
<body>
    <h1>Add A New Task To Complete</h1>
    <form method="post">

        <input asp-for="TaskId" type="hidden" required><br><br>

        <label asp-for="TaskName" for="title">Task:</label><br>
        <input asp-for="TaskName" type="text" required><br><br>

        <label asp-for="DueDate" for="DueDate">Due Date:</label><br>
        <input asp-for="DueDate" type="text" ><br><br>

        <label asp-for="Quadrant" for="year">Quadrant:</label><br>
        <select asp-for="Quadrant" required>
            <option value="1">1: Urgent and Important</option>
            <option value="2">2: Not Urgent but Important</option>
            <option value="3">3: Urgent but not Important</option>
            <option value="4">Not Urgent nor Important </option>
        </select><br><br>



        <label asp-for="CategoryId" for="category">Category:</label><br>
        <select asp-for="CategoryId" required>
            <option value="1">Home</option>
            <option value="2">School</option>
            <option value="3">Work</option>
            <option value="4">Church</option>
        </select><br><br>

        <label asp-for="Completed" for="edited">Completed:</label><br>
        <select asp-for="Completed" id="edited" name="edited" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select><br><br>

        <input type="submit" value="Submit">

        <div asp-validation-summary="All"></div>

    </form>
</body>
</html>