@{
    ViewData["Title"] = "Add New Tasks";
}
@model TaskModel;

<h1>@ViewData["Title"]</h1>

<body>
    <form method="post">

        <input asp-for="TaskID" type="hidden" required><br><br>
        <div class="container">
            <div class="row">
        <label asp-for="TaskName" for="title">Task:</label><br>
        <input asp-for="TaskName" type="text" required><br><br>
            </div>
            <div class="row">
        <label asp-for="DueDate" for="DueDate">Due Date:</label><br>
        <input asp-for="DueDate" type="text" ><br><br>
            </div>
            <div class="row">
        <label asp-for="Quadrant" for="year">Quadrant:</label><br>
        <select asp-for="Quadrant" required>
            <option value="1">1: Urgent and Important</option>
            <option value="2">2: Not Urgent but Important</option>
            <option value="3">3: Urgent but not Important</option>
            <option value="4">4: Not Urgent not Important </option>
        </select><br><br>

                </div>
                <div class="row">
        <label asp-for="CategoryID" for="category">Category:</label><br>
        <select asp-for="CategoryID" required>
            <option value="1">Home</option>
            <option value="2">School</option>
            <option value="3">Work</option>
            <option value="4">Church</option>
        </select><br><br>
            </div>
                  <div class="row">
        <label asp-for="Completed" >Completed:</label><br>
        <select asp-for="Completed" required>
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select><br><br>
                    </div>

        <input type="submit" value="Submit">

        <div asp-validation-summary="All"></div>
        </div>
    </form>
</body>