@{
    ViewData["Title"] = "Home Page";
}

<h1>Are you ready to change how you look at your life?</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>People currently using our program:</h2>
            <ul>
                <li>LeBron James</li>
                <li>Spencer Hilton</li>
                <li>Kanye West</li>
                <li>Mitch Brammer</li>
                <li>Greg Anderson</li>
                <li>And many more!</li>
            </ul>
        </div>

        <div class="col-md-6" style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9XL2oRoAii8?si=5jH4ycWs0qPjWlzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Learn why we do what we do and how to use it!</h3>
        </div>
    </div>
</div>
